@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-nav::-webkit-scrollbar {
  width: 8px;
  
}

.scrollbar-nav::-webkit-scrollbar-thumb {
  background:#464646;
  border-radius: 6px; 
  height: 20px;
}

.scrollbar-nav::-webkit-scrollbar-track {
  background: #090909;
  border-radius: 6px;
  
}